footer,
header,
nav,
section,
p,
h1,
h2,
h3 {
	display: block;
	text-align: center;
	margin-left: 400px;
	margin-right: 400px;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	color: #012C34;
	font-size: 20px;
	background: #437983;
}

.hide {
	display: none;
}